In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sys

import warnings
warnings.filterwarnings('ignore')

In [2]:
test_df = pd.read_csv('./data/test.csv')
train_df = pd.read_csv('./data/train.csv')
sample_submission_df = pd.read_csv('./data/sample_submission.csv')

## 결측치 확인 및 제거

isna/isnull 메서드와 notna/notnull 메서드는 DataFrame내의 결측값을 확인해서 bool형식으로 반환하는 메서드입니다.

isna/isnull의 경우 결측값이면 True 반환, 정상값이면 False반환이며,

notna/notnull의 경우 결측값이면 False반환, 정상값이면 True를 반환합니다.

In [3]:
test_df.isnull()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2919,False,False,False,False,False,False,False,False,False
2920,False,False,False,False,False,False,False,False,False
2921,False,False,False,False,False,False,False,False,False
2922,False,False,False,False,False,False,False,False,False
2923,False,False,False,False,False,False,False,False,False

In [4]:
train_df.isna()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight,Target
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1248,False,False,False,False,False,False,False,False,False,False
1249,False,False,False,False,False,False,False,False,False,False
1250,False,False,False,False,False,False,False,False,False,False
1251,False,False,False,False,False,False,False,False,False,False
1252,False,False,False,False,False,False,False,False,False,False

In [5]:
def check_null(df):    
    total_cnt = 0
    for i in df.columns:
        cnt = sum(df[i].isnull())
        total_cnt += cnt
        if cnt:
            print(f'{i}열에 결측치{cnt}개')
        else:
            print(f'{i}열에 결측치 없음')
    if total_cnt == 0:
        print('모든열에 결측치 없음')

In [6]:
check_null(test_df)

id열에 결측치 없음
Gender열에 결측치 없음
Lenght열에 결측치 없음
Diameter열에 결측치 없음
Height열에 결측치 없음
Whole Weight열에 결측치 없음
Shucked Weight열에 결측치 없음
Viscra Weight열에 결측치 없음
Shell Weight열에 결측치 없음
모든열에 결측치 없음

In [7]:
check_null(train_df)

id열에 결측치 없음
Gender열에 결측치 없음
Lenght열에 결측치 없음
Diameter열에 결측치 없음
Height열에 결측치 없음
Whole Weight열에 결측치 없음
Shucked Weight열에 결측치 없음
Viscra Weight열에 결측치 없음
Shell Weight열에 결측치 없음
Target열에 결측치 없음
모든열에 결측치 없음

In [8]:
check_null(sample_submission_df)

id열에 결측치 없음
Target열에 결측치 없음
모든열에 결측치 없음